.formContact {
  border: 2px solid rgba(221, 126, 3, 0.848);
  border-radius: 8px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
}

.inputsWrapperContact {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.formLabelContact {
  font-size: 18px;
  color: rgba(41, 46, 47, 0.848);
  margin-bottom: 5px;
}

.inputContact {
  width: 250px;
  height: 40px;
  padding-left: 15px;
  font-size: 18px;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgba(221, 126, 3, 0.848);
  margin-bottom: 10px;
}

.messageContact {
  width: 250px;
  text-align: left;
  font-size: 12px;
  color: red;
  margin-top: -5px;
}

.formBtnContact {
  width: 150px;
  height: 40px;
  background-color: rgba(221, 126, 3, 0.848);
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
}

.formBtnContact:hover {
  background-color: rgba(247, 157, 39, 0.848);
  transition: all 0.3s ease-in-out;
}
