.contactBox {
}

.contactName {
  font-size: 20px;
  font-weight: bold;
  color: rgba(179, 106, 11, 0.848);
  margin-bottom: 5px;
}

.contactNumber {
  font-size: 18px;
  font-weight: bold;
  color: rgba(22, 22, 22, 0.848);
  margin-bottom: 5px;
}

.icons {
  margin-right: 5px;
  margin-bottom: -2px;
}

.deleteBtn {
  width: 100px;
  height: 35px;
  background-color: rgba(221, 126, 3, 0.848);
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgba(247, 157, 39, 0.848);
  transition: all 0.3s ease-in-out;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modalButtons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.yesBtn,
.noBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.yesBtn {
  background-color: rgba(221, 50, 50, 0.848);
  color: white;
}

.noBtn {
  background-color: #ccc;
  color: black;
}

.yesBtn:hover {
  background-color: #ff6b6b;
}

.noBtn:hover {
  background-color: #999;
}
